<!DOCTYPE html>
<html ng-app='weatherApp'>
<head>
  <title>WeatherApp</title>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="content/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="content/bootstrap-theme.css">
  <link rel="stylesheet" type="text/css" href="content/weather-getter.css">
</head>
<body ng-controller="weatherController">

<div class="weather-background">
<div class="weather-wrapper">
<h3>Get the weather!</h3>
<form  name="weatherForm" novalidate ng-submit="submitForm()">
	<input name="weatherName" type="text" class="weather weather-name" ng-class="weatherForm.weatherName.$dirty ? 'ng-dirty' : 'ng-pristine'" ng-model="weather.city" placeholder="What`s the weather in..." required>
	<button class="weather search-weather"  type="submit" ng-disabled="weatherForm.$invalid">Search</button>
	<div class="weather-list">
		<ul>
			<li ng-repeat="city in cities">-{{city.name}}, <span style="font-size:.8em">{{city.sys.country}}: {{city.main.temp}}&#8451;,</span> <span style="font-size:.7em">{{city.weather[0].description}}</span></li>
		</ul>
	</div>
	
	
</form>
<button class="weather button-clear" ng-click="clearList()">clear</button>
</div>
</div>
	
	<script type="text/javascript" src='scripts/jquery-3.1.0.js'></script>
    <script type="text/javascript" src='scripts/angular.js'></script>
    <script type="text/javascript" src='scripts/bootstrap.js'></script>
    <script type="text/javascript" src='app/factories/logService.js'></script>
    <script type="text/javascript" src='app/app.js'></script>
    <script type="text/javascript" src='app/controllers/controllers.js'></script>
</body>
</html>